#restaurant-tables {
  td {
    position: relative;
    opacity: 0.8;
    background-color: greenyellow;
    min-width: 110px;
    text-align: center;
    padding: 30px;
    border: 5px solid white;
    border-radius: 30px;

    &:hover {
      opacity: 1;
    }

    a {
      text-decoration: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 30px;
      line-height: 60px;
      color: white;

      &:hover {
        color: black;
      }
    }

    &[data-reserved] {
      background-color: tomato;
    }
  }
}

.forms ul { list-style: none; }

.flash {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2px;

  &.alert {
    background-color: tomato;
    color: white;
  }
  &.notice {
    background-color: greenyellow;
    color: black;
  }
}
